<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Shop điện thoại & máy tính</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='styles/styles.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="popup_chatbox">
        <button id="chatbox-toggle">Mở chat</button>
        <div class="chat-popup" id="chat-popup">
            <div class="chat-container">
                <div class="chat-header">
                    <span class="close" id="chatbox-close">&times;</span>
                    Chatbox
                </div>
                <div class="chat-messages" id="chat-messages">
                    <!-- Chat messages will appear here -->
                    <div class="message-bubble sent">
                        <div class="message-text">Xin chào, tôi có câu hỏi.</div>
                    </div>
                    <div class="message-bubble received">
                        <div class="message-text">Xin chào, tôi giúp gì được cho bạn?</div>
                    </div>
                </div>
                <div class="chat-input">
                    <input type="text" id="message-input" placeholder="Bạn nhắn gì đó">
                    <button id="send-button">Send</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
        <div class="header">

        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="https://fptshop.com.vn"><img src="{{ url_for('static', filename='images/logo.png')}}" width="180" height="100" alt=""></a>
                </div> 
                <nav>
                    <ul>
                        <li><a href="https://fptshop.com.vn">Trang chủ</a></li>
                        <li><a href="https://fptshop.com.vn/dien-thoai">Sản phẩm</a></li>
                        <li><a href="https://fptshop.com.vn/gioi-thieu">Về chúng tôi</a></li>
                        <li><a href="https://fptshop.com.vn/lien-he">Liên hệ</a></li>
                    </ul>
                 </nav>
                 <a href="https://fptshop.com.vn/cart"><img src="{{ url_for('static', filename='images/cart.png')}}" width="30px" height="30px"></a>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Hãy mua điện thoại chỗ chúng tôi<br>Giá bao rẻ!</h1>
                    <p>Không phải lúc nào bạn cũng có thể mua điện thoại rẻ như shop của chúng tôi đâu.</p>
                    <a href="https://fptshop.com.vn" class="btn">Khám Phá &#8594</a>
                </div>
                <div class="col-2">
                    <img src="{{ url_for('static', filename='images/hình điện thoại.png')}}" >
                </div>
            </div>
        </div>
    </div>
        <div class="categories">
            <div class="small-container">
                <h2 class="title">Bộ sưu tập nổi bật</h2>
                <div class = "row">
                    <div class ="col-3">
                        <a href="https://fptshop.com.vn/dien-thoai/apple-iphone?sort=ban-chay-nhat">
                            <img src="{{ url_for('static', filename='images/iphone-15-pro-max.jpg')}}">
                            <h4 class="word">Iphone</h4>
                        </a>
                    </div>
                    
                    <div class ="col-3">
                        <a href="https://fptshop.com.vn/dien-thoai/samsung?sort=ban-chay-nhat">
                            <img src="{{ url_for('static', filename='images/Samsung_galaxy_s23_Ultra.png')}}">
                            <h4 class="word">Samsung</h4>
                        </a>
                    </div>
                    <div class ="col-3">
                        <a href="https://fptshop.com.vn/dien-thoai/oppo?sort=ban-chay-nhat">
                            <img src="{{ url_for('static', filename='images/oppo_reno_10.jpeg')}}">
                            <h4 class="word">Oppo</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-container">
            <h2 class="title">Sản phẩm nổi bật</h2>
            <div class="row">
                <div class ="col-4">
                    {% for row in data1 %}
                    <a href="https://fptshop.com.vn/dien-thoai/iphone-15-pro-max">
                        <img src="{{ url_for('static', filename='images/iphone-15-pro-max.jpg')}}">
                        <h4>Iphone 15 Pro Max</h4>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                    </div>
                    <p>{{ row[1] }}đ</p>
                    {% endfor %}
                </div>
                <div class ="col-4">
                    {% for row in data2 %}
                    <a href="https://fptshop.com.vn/dien-thoai/iphone-15-pro">
                        <img src="{{ url_for('static', filename='images/iphone-15-pro.jpg')}}">
                        <h4>Iphone 15 Pro</h4>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o" ></i>
                    </div>
                    <p>{{ row[1] }}đ</p>
                    {% endfor %}
                </div>
                <div class ="col-4">
                    <a href="https://fptshop.com.vn/dien-thoai/samsung-galaxy-z-fold5?dung-luong=256-gb">
                        <img src="{{ url_for('static', filename='images/Samsung_Galaxy_Z_Fold5.png')}}">
                        <h4>Samsung Galaxy Z Fold 5</h4>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half-o" ></i>
                    </div>
                    <p>31.990.000đ</p>
                </div>
                <div class ="col-4">
                    <a href="https://fptshop.com.vn/dien-thoai/oppo-find-n2-flip">
                        <img src="{{ url_for('static', filename='images/OPPO_Find_N2_Flip.png')}}">
                        <h4>Oppo Find N2 Flip</h4>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                    </div>
                    <p>19.990.000đ</p>
                </div>
                <div class ="col-4">
                    <a href="https://fptshop.com.vn/dien-thoai/samsung-galaxy-s23-plus?dung-luong=256-gb">
                        <img src="{{ url_for('static', filename='images/Samsung_galaxy_s23_Ultra.png')}}">
                        <h4>Samsung Galaxy S23 Plus</h4>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                    </div>
                    <p>19.990.000đ</p>
                </div>

            </div>
        </div>
<!--------Đánh giá cửa hàng------------>

        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                        <div class="col-3">
                            <i class="fa fa-quote-left"></i>
                            <p>Tôi không thể hài lòng hơn với dịch vụ tại cửa hàng điện thoại của bạn! Nhân viên của bạn thân thiện và hỗ trợ tận tâm.
                            Tôi đã mua một chiếc điện thoại mới ở đây và tôi rất hạnh phúc với sản phẩm và giá cả hợp lý. 
                            Sẽ không có lý do gì khiến tôi không quay lại lần nữa!</p>
                            <i class="fa fa-quote-right"></i>
                            <div class="rating">
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>                            
                            </div>
                            <img src="{{ url_for('static', filename='images/user-1.png')}}">
                            <h3>Nguyễn Thị Mai Anh</h3>
                        </div>
                        

                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Cửa hàng điện thoại của bạn thực sự là nơi tuyệt vời để mua sắm. Sự lựa chọn sản phẩm rộng lớn và chất lượng cao, cùng với đội ngũ nhân viên thân thiện và tận tâm. 
                            Tôi đã tìm thấy chiếc điện thoại mơ ước của mình ở đây và tôi không thể hạnh phúc hơn với quyết định của mình. 
                            Cảm ơn bạn vì trải nghiệm mua sắm tuyệt vời!</p>
                        <i class="fa fa-quote-right"></i>
                        <div class="rating">
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                        </div>
                        <img src="{{ url_for('static', filename='images/user-2.png')}}">
                        <h3>Trần Văn Hải</h3>
                    </div>

                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Đây là lần đầu tiên tôi mua điện thoại tại cửa hàng của bạn và tôi rất ấn tượng. 
                            Dịch vụ khách hàng tuyệt vời, giúp đỡ tận tâm và nhiệt huyết. 
                            Sản phẩm chất lượng và giá cả hợp lý. Tôi sẽ chia sẻ trải nghiệm tích cực này với gia đình và bạn bè của mình và chắc chắn sẽ quay lại mua sắm ở đây trong tương lai. 
                            Cảm ơn bạn!</p>
                        <i class="fa fa-quote-right"></i>
                        <div class="rating">
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                        </div>
                        <img src="{{ url_for('static', filename='images/user-3.png')}}">
                        <h3>Trần Thị Ngọc Trâm</h3>
                    </div>
                </div>
            </div>
        </div>

        <!---------brands------>
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="{{ url_for('static', filename='images/apple_logo.png')}}">                        
                    </div>
                    <div class="col-5">
                        <img src="{{ url_for('static', filename='images/samsung_logo.png')}}">                        
                    </div>
                    <div class="col-5">
                        <img src="{{ url_for('static', filename='images/oppo_logo.png')}}">                        
                    </div>  
                    <div class="col-5">
                        <img src="{{ url_for('static', filename='images/xiaomi_logo.png')}}">                        
                    </div> 
                </div>
            </div>
        </div>

        <!-------footer-------->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-3">
                        <h3>Chứng nhận</h3>
                        <p>Các chứng nhận đã đạt được:</p>
                        <div class="cer-img">
                            <img src="{{ url_for('static', filename='images/ft-img3.png')}}">
                            <img src="{{ url_for('static', filename='images/ft-img4.png')}}">
                            <img src="{{ url_for('static', filename='images/ft-img5.png')}}">
                        </div>

                    </div>
                    <div class="footer-col-3">
                        <h3>Chính sách bên chúng tôi</h3>
                        <ul>
                            <li><a href="https://fptshop.com.vn/ho-tro/chinh-sach-doi-san-pham">Chính sách đổi trả</a></li>
                            <li><a href="https://fptshop.com.vn/ho-tro/chinh-sach-bao-hanh">chính sách bảo hành</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Theo dõi chúng tôi</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/FPTShopOnline">Facebook</a></li>
                            <li><a href="https://zalo.me/2659487666103055748">Zalo</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Bản quyền bởi nhóm 5 năm 2023</p>
            </div>
        </div>

    </body>
</html>
        